
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-fondo: rgb(46, 46, 46);
$color-patalla: rgb(110, 110, 110);
$color-number-pantalla: rgb(190, 248, 132);

$color-btn: rgb(54, 54, 54);
$color-tapbtn: rgb(71, 71, 71);



body {
    font-family: 'DotGothic16', sans-serif;
    background: $color-fondo;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-calculadora {
        width: 100%;
        max-width: 600px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: $color-fondo;
        

        .box-calculadora__head {
            display: flex;
            flex-direction: column;

            .box-calculadora__head-title {
                width: 100%;
                font-size: 35px;
                padding: 15px 0 20px 0;
                color: #fff;
            }

            .box-calculadora__head-pantalla {
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                background: $color-fondo;
                color: $color-number-pantalla;
                text-shadow: 0 0 15px #000;
                font-size: 35px;

                .box-calculadora__head-pantalla-boxDigito {
                    margin-right: 10px;
                }
            }
        }

        .box-calculadora__body {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(4,80px);
            grid-gap: 3px;
            margin: 20px 20px 0 20px;

            .box-calculadora__body-btn {
                background: $color-btn;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                cursor: pointer;
            }

            .box-calculadora__body-btn:hover {
                animation-name: tapBtn;
                animation-duration: 2s;
                animation-iteration-count: 1;
            }

            @keyframes tapBtn {
                0% {
                    background: $color-tapbtn;
                }

                80% {
                    background: $color-btn;
                }


            }

            .btn-factor img {
                width: 20px;
            }

            // EVERY BTN
            .btn-reset img {
                width: 27px;
            }

            // ORDEN GRID
            .btn-suma {
                grid-column: 4 / 5;
                grid-row: 1 / 2;
            }

            .btn-resta {
                grid-column: 4 / 5;
                grid-row: 2 / 3;
            }

            .btn-multi {
                grid-column: 4 / 5;
                grid-row: 3 / 4;
            }

            .btn-divi {
                grid-column: 4 / 5;
                grid-row: 4 / 5;
            }

            .btn-igual {
                grid-column: 3 / 4;
                grid-row: 4 / 5;
                font-size: 40px;
            }

            .btn-reset {
                grid-column: 1 / 2;
                grid-row: 4 / 5;
            }

        }
    }
}



